.order-container {
    padding: 40px 10px; /* 上下40px，左右60px */
    font-family: Arial, sans-serif;
    border-radius: 8px; /* 圓角效果 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 增加陰影效果 */
  }
  
  h2 {
    text-align: center;
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
  }
  
  .order-info {
    margin-bottom: 20px;
  }x
  
  .order-form {
    margin-top: 30px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
  }
  
  input {
    width: 300px; /* 讓輸入框寬度填滿 */
    padding: 12px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #333;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #4CAF50; /* 當輸入框聚焦時，邊框變綠色 */
    outline: none;
  }
  
  .button-info {
    width: 100px; /* 固定寬度 */
    height: 40px; /* 固定高度 */
    font-size: 16px; /* 文字大小 */
    padding: 0; /* 移除內邊距，這樣不會影響大小 */
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center; /* 讓按鈕文字置中 */
    border-radius: 5px;
    cursor: pointer;
    display: block; /* 使按鈕成為區塊元素，並自動換行 */
    margin: 10px auto; /* 使按鈕在水平方向上置中，並給它上下間距 */
    margin-top: 10px;
  }
  
  
  .orders-table {
    width: 90%; /* 表格寬度填滿容器 */
    border-collapse: collapse; /* 合併邊框 */
    margin: 20px 0; /* 上下外邊距 */
    margin-left: 70px;
  }
  
  .orders-table th,
  .orders-table td {
    padding: 20px 40px; /* 增加內邊距，讓每格內容更寬鬆 */
    text-align: left; /* 靠左對齊 */
  }
  
  .orders-table th {
    background-color: #333; /* 標題列背景色 */
    font-weight: bold; /* 標題字加粗 */
    color: white; /* 字體顏色白色 */
  }
  
  .orders-table td {
    border-bottom: 1px solid #ccc; /* 每列之間的分隔線 */
  }

  .orders-table td a {
    color: #4CAF50; /* 連結顏色 */
    text-decoration: none; /* 去除下劃線 */
  }
  
  .orders-table td a:hover {
    text-decoration: underline; /* 懸停時顯示下劃線 */
  }
  